.container-fluid{
    background-color: pink;
}
.justify-content-center{
    text-align: center;
}
.card{
    width: 300px; 
}
.card-text{
    color: rgb(34, 202, 34)
}
.card-img-top{
    text-align: center;
    width: 300px;
}
.modal-dialog-scrollable{
    font-weight: bold;
    font-size: 2em;
}
.text-break{
    font-weight: bold;
    font-size: 2em;
}
.navbar-fixed-bottom{
    background-color: pink;
    width: 100%;
    padding-bottom: 60px;
}
.form-label{
    display:flex;
    justify-content: start;
}
.bordered {
    border: 10px solid pink;
  }